.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    color: var(--black-color);
}

.container-sm {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    color: var(--black-color);
}

img {
    max-width: 100%;
    display: block;
}

a, a:hover {
    text-decoration: none;
    color: var(--black-color);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.button {
    display: inline-block;
    padding: 0.8rem 2rem;
    border: 1px solid var(--main-color);
    border-radius: 2rem;
    color: var(--main-color);
    background-color: var(--white-color);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
    margin: 1rem .5rem;
    opacity: 0.9;
    line-height: 1.6;
}

.button:hover {
    opacity: 1;
}

.button--primary {
    background-color: var(--main-color);
    color: var(--white-color);
}

.button--large {
    padding: 1.5rem 3rem;
}

.button--100 {
    width: calc(100% - 1rem);
    text-align: center;
}

.button--red {
    background-color: #F11F2D;
}

.button--default:hover {
    background-color: rgb(219, 236, 227);
}

.text-main {
    color: var(--main-color);
}